/* Write your CSS here */
.tab-item-container {
  padding-left: 4px;
}

.tab-btn {
  font-family: 'Roboto';
  color: #9aa5b1;
  font-weight: 500;
  font-size: 22px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  border-bottom: 4px solid #9aa5b1;
}

@media screen and (max-width: 767px) {
  .tab-btn {
    font-size: 16px;
  }
}
.active {
  border-bottom: 4px solid #2563eb;
}
